{% extends "account/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="container mb-5">
<div class="col-lg-5 mx-auto">
<div class="card p-3 text-dark">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="text-center">
        <button type="submit" class="mt-2 btn btn-outline-dark" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
{% endblock %}
</div>
</div>
</div>