{% extends 'base.html' %}


{% block content %}
<div class="container" style="margin-top:50px; margin-bottom:50px;">

    <div class="col-md-6">
        <div class="card-header mb-3"><strong>Login to Your account</strong></div>
        <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_slug">Secret Key</label>
            <input type="text" class="form-control" name="slug" maxlength="50" required id="id_slug" placeholder="Your Secret Key">
        </div>
        <input class="button btn-warning" value="submit" type="submit">
    </form>
    </div>
</div>
{% endblock %}