{% extends 'base.html' %}


{% block content %}
<div class="container" style="margin-top:50px; margin-bottom:50px;">

    <div class="col-md-6">
        <div class="card-header bg-info mb-3"><strong>Your profiles</strong></div>
        <form method="POST">
        {% csrf_token %}
            {% for details in details %}
        <a class="btn btn-outline-light m-1" href="{% url 'home:detail' details.slug%}">{{details.name}}</a><br/>
            {% endfor %}
    </form>
    </div>
</div>
{% endblock %}