<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/html">

<head>
<title>{{ details.info.name}} - Curriculum Vitae</title>

<style>
    table, td {
  border: 1px solid black;
  padding:5px;
  word-wrap: break-word;
  text-align:center;
}
</style>

<meta name="viewport" content="width=device-width"/>


</head>
<body>
<!-- personal info -->
<div style="margin-left:500px;">
<h1>{{details.info.name}}</h1>
<h2>e: {{details.info.email}}</h2>
<h2>m: +91-{{details.info.mobile_no}}</h2>
</div>

<!-- About -->
<img src="/media/images/passport_photo.jpeg/">
<div >
<h1 style="margin-top:50px;"> About Me :</h1><hr/>
<p style="font-size:15px;">{{details.info.about}}</p>
</div>

<!-- Education -->
<div>
<h1 style="margin-top:50px;">Education</h1>
<hr/>
{% for edu in details.education %}
<table>
    <thead>
    <tr>
        <th>Qualification</th>
        <th>Board or University</th>
        <th>School Or College</th>
        <th>Percentage / CGPA</th>

    </tr>
    </thead>
    <tr>
        <td>{{edu.course}}</td>
        <td>{{edu.board_or_univ}}</td>
        <td>{{edu.school_or_college}}</td>
        <td>{{edu.cgpa_or_percent}}</td>
    </tr>
</table>

{% endfor %}
</div>


<!-- Skills -->
<div>
<h1 style="margin-top:50px;">Key Skills</h1>
<hr/>
{% for skill in details.skill %}
<span style="font-size:15px;">{{skill.skill}} , </span>
{% endfor %}
</div>


<!-- Experience -->
{% if details.count_exp > 0 %}
<div >
<h1 style="margin-top:50px;">Work Experience</h1>
<hr/>
{% for exp in details.experience %}
<h2>{{exp.post}}</h2>
<p class="subDetails">{{exp.joining_date}} - {% if exp.ending_date == None %} present {% else %} {{ exp.ending_date}} {% endif %}</p>
<p style="font-size:15px;">{{exp.work_experience}}</p>
{% endfor %}
</div>
{% endif %}

<!-- Projects-->
{% if details.count_work %}
<div>
 <h1 style="margin-top:50px;">Projects</h1>
<hr/>
{% for project in details.work %}
<h2>{{project.project_name}}</h2>
<p class="subDetails">{{project.project_type}}</p>
<a href="{{project.project_link}}" target="_blank" style="color:blue;">{{project.project_link}}</a>
{% endfor %}
</div>
{% endif %}

<!-- Declaration -->

<div>
<h1 style="margin-top:50px;">Declaration</h1><hr/>
<p style="font-size:15px;">I hereby declare that all the information mentioned in my resume is correct to the best of my knowledge.</p>
    <p style="font-size:15px; margin-left:550px; font-weight:bold;">{{details.info.name}}</p>
</div>

</body>
</html>
