{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}

<div class="container mb-5" style="margin-top:50px;">
    <div class="card-header bg-info"><strong>{{ details.name }}'s Details </strong></div>

    <div class="card text-center ">
        <!--{% thumbnail item.image "100x100" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %} -->
        <img src="{{details.profile_picture.url}}"  class="card-img-top mt-3 mx-auto" style="width:200px;height:200px;border-radius:50%">

        <div class="card-header bg-info mt-5 ">About</div>
        <p class="card-body text-dark">{{details.about}}</p>
        <div class="row">
        <div class="col-lg-3">
            <div class="card-header bg-info mt-5 ">Email</div>
            <p class="card-body text-dark">{{details.email}}</p>
        </div>
        <div class="col-lg-3">
            <div class="card-header bg-info mt-5 ">Mobile No.</div>
            <p class="card-body text-dark">{{details.mobile_no}}</p>
        </div>
        <div class="col-lg-3">
                <div class="card-header bg-info mt-5 ">Profession</div>
                <p class="card-body text-dark">{{details.profession}}</p>
        </div>
        <div class="col-lg-3">
                <div class="card-header bg-info mt-5 ">Place</div>
                <p class="card-body text-dark">{{details.place}}</p>
        </div>

</div>
        <a href="{%url 'home:skill' details.slug %}" class="button btn-primary mx-auto mt-3">Next</a>
        <a href="{%url 'home:update-info' details.slug %}" class="button btn-warning mx-auto mb-5">Edit</a>
    </div>
</div>



{% endblock %}