{% extends 'base.html' %}

{% block title %}
Educaion Details
{% endblock %}


{% block content %}

<div class="container mb-3">
    <div class="card-header bg-info mt-2"><strong>About Education</strong></div>


            <table class="table table-dark table-hover">
                <tr>
                    <th>Board Or University</th>
                    <th>Course</th>
                    <th>College Or School </th>
                    <th>CGPA or Percentage</th>

                </tr>
                {% for details in details %}
                <tr>
                    <td scope="col">{{details.board_or_univ}}</td>
                    <td scope="col">{{details.course}}</td>

                    <td scope="col">{{details.school_or_college}}</td>
                    {% if details.cgpa%}
                        <td scope="col">{{details.cgpa_or_percent}}</td>
                    {% else %}
                        <td scope="col">{{details.cgpa_or_percent}}%</td>
                    {% endif %}
                    <td scope="col"><a class="btn-link" href="{% url 'home:update-education' slug details.course %}">edit</a> </td>
                    <td scope="col"><a class="btn-link" href="{% url 'home:delete-education' slug details.course %}">delete</a> </td>
                </tr>
                {% endfor %}
            </table>

    <a href="{% url 'home:service' slug %}" class="button btn-primary">Next</a>
    <a href="{% url 'home:education' slug %}" class="button btn-danger">Add more</a>

</div>
{% endblock %}