{% extends 'base.html' %}

{% block title %}
Skills Details
{% endblock %}

{% block content %}

<div class="container mb-3" style="margin-top:50px;">
    <div class="card-header bg-info mt-2"><strong>My skills</strong></div>


            <table class="table table-dark table-hover">
                <tr>
                    <th>Skill Name</th>
                    <th>Level Percentage</th>
                </tr>
                {% for details in details %}
                <tr>
                    <td>{{details.skill}}</td>
                    <td>{{details.percent}}</td>
                    <td><a href="{% url 'home:update-skill' slug details.skill %}" class="table-data">edit</a></td>
                    <td><a href="{% url 'home:delete-skill' slug details.skill %}" class="table-data">delete</a></td>
                </tr>
                {% endfor %}
            </table>

    <a href="{% url 'home:education' slug %}" class="button btn-primary">Next</a>
    <a href="{% url 'home:skill' slug %}" class="button btn-warning">Add More Skills</a>
</div>
{% endblock %}