{% extends 'base.html' %}
{% block title %}
update experience
{% endblock %}
{% block content %}
<div class="container mb-3" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-5">
              <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title text-white">
                <strong>Instructions</strong>
            </h4>
        </div>
        <div class="panel-body">
             <ul>
                 <li><p><strong>In this form tell us about your pas jobs</strong></p></li>
                 <li><p><strong>in the post field tell us about your post in that company</strong></p></li>
                 <li><p><strong>in the work experience field tell us about your work and achievements</strong></p></li>
                 <li><p><strong>for present company leave ending date field blank but joining date is required </strong></p></li>
             </ul>
         </div>
    </div>
        </div>
        <div class="col-md-5">
           <div class="card-header bg-info mt-2 mb-2"><strong>Update Experience Details</strong></div>
           <form  method="POST" enctype="multipart/form-data">
               {% csrf_token %}
                <label for="id_orgainsation">Company Name:</label>
               <div class="form-group">
                   <input type="text" class="form-control" placeholder="Company name" value="{{form.organisation_name.value}}" name="organisation_name" maxlength="50" required id="id_orgainsation">
               </div>
               <label for="id_post">Post:</label>
               <div class="form-group">
                   <input type="text" class="form-control" value="{{form.post.value}}" name="post" maxlength="50" required id="id_post">
               </div>
               <label for="id_joining_date">Joining date:</label>
               <div class="form-group">
                   <input type="date" name="joining_date" required id="id_joining_date" class="form-control" value="{{form.joining_date.value}}" placeholder="date format yyyy-mm-dd">
               </div>
               <label for="id_ending_date">Ending date:</label>
               <div class="form-group">
                   <input type="date" name="ending_date" class="form-control" placeholder="date format yyyy-mm-dd"  id="id_ending_date" value="{{form.ending_date.value.date}}">
               </div>
               <label for="id_work_experience">Work experience:</label>
               <div class="form-group">
                   <textarea name="work_experience" class="form-control" placeholder="Work experience" cols="40" rows="10" required id="id_work_experience">{{form.work_experience.value}}
                   </textarea>
               </div>

                <input class="button btn-info" type="submit" value="Update">
               </form>
        </div>
    </div>


</div>
{%endblock%}