{% extends 'base.html' %}

{% block title %}
Work Details
{% endblock %}


{% block content %}

<div class="container mb-3" style="margin-top:50px;">
    <div class="card-header bg-info mt-2"><strong>Your Projects</strong></div>
    <div class="row">
        <div class="col-sm-4 mt-2">
            {% for details in details %}
          <div class="card img-fluid" style="width:500px">
          <img class="card-img-top" src="{{details.project_image.url}}" alt="Card image" style="width:100%">
          <div class="card-body">
              <h3 class="card-title">{{details.project_name}}</h3>
            <p class="card-text">{{details.project_type}}</p>
            <a href="{{details.project_link}}" target="_blank" class="btn btn-warning">project link</a>
              <a class="btn btn-link" href="{% url 'home:update-work' slug details.project_name %}">edit</a>
              <a class="btn btn-link" href="{% url 'home:delete-work' slug details.project_name %}">delete</a>
          </div>
        </div>
                {% endfor %}

        </div>

    </div>
    <a href="{% url 'home:experience' slug %}" class="button btn-primary">Next</a>
    <a href="{% url 'home:work' slug %}" class="button btn-warning">Add more</a>

</div>
{% endblock %}